<p-card>
  <div class="flex justify-content-between">
 

    <span class="flex justify-content-center align-items-center">
      {{ project.title }}
    </span>

    <div class="flex flex-column">
      <span>Project Code</span>
      <small> {{ project.code }} </small>
    </div>
  </div>
</p-card>

<p-tabView >

  <p-tabPanel header="Informacion de la solicitud" leftIcon="pi pi-file">
    <app-signatures></app-signatures>
  </p-tabPanel>
  <p-tabPanel header="Nueva solicitud estudiante" leftIcon="pi pi-file">
    
  </p-tabPanel>
  <p-tabPanel header="Documentacion del portafolio" leftIcon="pi pi-briefcase ">
    <app-briefcase></app-briefcase>
  </p-tabPanel>

  <p-tabPanel header="Perfil del Estudiante" leftIcon="pi pi-cloud-upload">
    <app-profile></app-profile>
  </p-tabPanel>
  <p-tabPanel header="Descargar certificado" leftIcon="pi pi-book">
    <app-certificate-requests></app-certificate-requests>
  </p-tabPanel>
</p-tabView>
